# Need self to, you know, run tests / load into tests / etc.
-e .
# Invocations, for all sorts of things
invocations==2.3.0
# Coverage!
coverage==4.5.4
codecov==2.1.11
# Gotta limit Sphinx to <1.7 for now, or releases blows up. (has to be done in
# here since this file gets run by itself sometimes.)
Sphinx>=1.4,<1.7
